.t-anime {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #2927b9, #2927b9, #662cca) 0 100% /
    var(--d, 0) no-repeat;
  transition: 0.7s;
  font-size: 5rem;
  margin: 0;
  color: #90defd;
  transition: all;
}

.ta-anime {
  transition-duration: 2s;
  --d: 100%;
}

.ta-des {
  transition-duration: 1.5s;
  background: transparent;
  -webkit-text-stroke: 2px #008aff;
  color: transparent;
}

@media (max-width: 640px) {
  .t-anime {
    font-size: 2.5rem;

  }
  .ta-anime {
    font-size: 2.5rem;
  }
}
