.bg {
  height: 80%;
  margin-top: 1.5%;
  width: 100%;
  background: var( --secondary-glow);
  position: absolute;
  border-radius: 15px;
  z-index: -1000;
}

@media only screen and (max-width: 1300px) {
  .bg {
    height: 80%;
    margin-top: 5.5%;
  }
}

@media only screen and (max-width: 500px) {
  .bg {
    height: 90%;
    margin-top: -5%;
  }
}
