
.t-name-anime {
  padding: 0.5rem;
  background: linear-gradient(45deg, #fff,#fff, #00adf4, #662cca, #662cca) 0 100% /
    var(--d, 0) 4px no-repeat;
  transition: 0.7s;
}

.ta-name-anime {
  --d: 100%;
}

.colors {
  color: #90defd;

  color: #00adf4;
  color: #008aff;
  color: #1a73e8;
  color: #185abc;
  color: #2927b9;
}
